$header-font-family: $font-family;
$header-line-height: 1.25;
$link-color: red;
$hover-link-color: darken($link-color, 15%);

h1, 
h2,
h3,
h4,
h5,
h6 {
	font-family: $header-font-family;
	line-height: $header-line-height;
	margin: 0;
	text-rendering: optimizeLegibility; // Fix the character spacing for headings
}

h1 {
	font-size: $font-size * 2.25;
}

h2 {
	font-size: $font-size * 2;
}

h3 {
	font-size: $font-size * 1.75;
}

h4 {
	font-size: $font-size * 1.5;
}

h5 {
	font-size: $font-size * 1.25;
}

h6 {
	font-size: $font-size;
}

p {
	margin: 0 0 ($line-height * .5);
}

a {
	color: $link-color;
	text-decoration: none;
	transition: color 0.1s linear;

	&:hover {
		color: $hover-link-color;
	}

	&:active, &:focus {
		color: $hover-link-color;
		outline: none;
	}
}
