// center element when height and width known
@mixin center($width, $height: $width) {
  position: absolute;
  width: $width; 
  height: $height;
  top: 50%;
  left: 50%;
  margin-top: $height / -2;
  margin-left: $width / -2;
}
// to center square object, pass one parameter
// @include center(200px);


// center when element size not known. IE9+
@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// vertical align when element size not known. IE9+
@mixin v-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}