// px to em
@function em($px, $base-font-size: 16px) {
	@return ($px / $base-font-size) * 1em;
}
/* 
width: em(10px);
-- Output --
width: 0.625em;
*/

// calculate the percent using the module-width & parent-width
@function percent( $module-width, $parent-width ) {
	@return $module-width / $parent-width * 100%;
}
/*
.sidebar {
	width:percent(220px,960px);
}
-- Output --
.sidebar {
	width: 22.9166666667%;
}
*/

